/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
}
#sidebar {
    width: 25em;
    position: fixed;
    top: 0;
    left: -25em;
    height: 100vh;
    z-index: 999;
    color: #333;
    transition: all 0.3s;
    overflow-y: hidden;
    background: rgba( 255, 255, 255, 0.75 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

#sidebar.active {
    left: 0;
}

#dismiss {
    color: #333;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    color: #0160A2;
}

.darker-background {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
    position: fixed;
    top: 0px;
    display: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #0160A2;
}

@media screen and (max-width: 500px) {
   #sidebar {
    width: 100vw;
    left: -100vw;
    }
}