body {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	font-family: "Gotham Pro", "Montserrat", sans-serif;
    background: #fafafa;
}

.btn-primary {
	background: #0160A2 !important;
}

.btn-primary:hover {
	background: #0160A2 !important;
}

.btn-primary:active {
	background: #006fbe !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.h3, h3 {
    font-size: calc(1.3rem + .6vw);
}

label {
    display: inline-block;
}

.fw-300 {
    font-weight: 300 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.text-09em {
    font-size: 0.9em;
}

.text-08em {
    font-size: 0.8em;
}

.text-faki {
    color: #0160A2;
}

.btn {
    margin: 0.375rem;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: 0.125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    padding: 0.84rem 2.14rem;
    font-size: .81rem;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* .form-check-input:focus {
    border-color: rgb(1, 96, 162);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(1 96 162 / 25%);
} */

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
}

::selection {
	background: #0160A2;
	color: #fff;
}

.btn {
	border-radius: 5px;
}

.form-control {
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-check-input:checked {
    background-color: #0160A2;
    border-color: #0160A2;
}

/* POP UP */

.darker-background {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.2);
    overflow: hidden;
    position: fixed;
    top: 0px;
    z-index: 999;
}
.footer {
    border-top: .5px solid #cccccc;
}
.footer-button {
    cursor: pointer;
}
.footer-button:active {
    background: #cccccc;
    transition: ease .15s;
    overflow: hidden;
}
.popup-body {
    min-width: 20rem;
    max-width: 25rem;
    background: rgba( 255, 255, 255, 0.75 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    box-shadow: inset 0 2px 8px 0 rgba(255, 255, 255, 1); /* Внутреннее свечение */
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1em;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow: hidden;
    z-index: 1001;
}
.display-7 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.2;
}

/* Track */

::-webkit-scrollbar {
  width: .8em;
}
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px grey; */
  border-radius: 0em;
  background: #fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0160A2;
  border-radius: .5em;
  border: .15em solid #fff;
}